<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
        <title>饭否API测试</title>
  </head>
  <body>
        <div>
          <div class="header">
                <div id="logo">
                  <h1><a href="/" style="text-decoration:none" title="首页">API测试</a></h1>
                </div>
                <div class="link">
                  <a target="_blank" href="{{ ffuser.get_absolute_url }}" style="text-decoration:none">{{ ffuser.screen_name }}</a>
                  <a href="http://fanfou.com/home" style="text-decoration:none">饭否首页</a>
                </div>
          </div>
          <div class="container">
                <div class="login">
                  <span></span>
                  <a href="{% url fanfou_oauth %}" class="button button-green">
                        <span>连接饭否</span>
                  </a>
                </div>
          </div>
        </div>
        <div id="footer">
          <p align="center">&copy; <span title="Q:0; S:0; T:3.30">2011</span> <a href="http://fanfou.com/" target="_blank">fanfou.com</a> 有问题请联系@<a href="http://fanfou.com/daoru" target="_blank">饭否博客导入</a></p>
        </div>
  </body>
</html>
